body{
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

h1{  
    font-family: 'Playfair Display SC', serif;
}

h1,h2{
    margin: 6px;
}

table{
    background-color: #aaa;
}

tr{
    height: 60px;
}

th,td{
    width: 100px;
}

td{
    background-color: #eee;
}

#canvas{
    border: 2px solid grey;
    position: absolute;
    left: 6px;
    top: 80px;
    z-index: 0;
}

button{
    position: absolute;
    z-index: 1;
}

#helpButton{
    left: 1060px;
    top: 90px;
}

#newGame{
    display: none;
    left: 568px;
    top: 460px;
}

#dragCanvas p{
    width: 100%;
    height:100%
    background-color: #aaa;
    
    text-align: center;
    vertical-align: middle;
    
    font-size: 2em;
    font-weight: bold;
}

#calendar{
    position: absolute;
    padding: 10px;
    left: 6px;
    top: 80px;
    z-index: -1;
}

#media{
    display: none;
}