body{
  font-size: 1em;  
}

h1,h2{
    margin: 6px;
}

table{
    background-color: #aaa;
}

tr{
    height: 80px;
}

th,td{
    width: 160px;
}

td{
    background-color: #eee;
}

#canvas{
    border: 2px solid grey;
    position: absolute;
    left: 6px;
    top: 80px;
    z-index: 0;
}

#helpButton{
    position: absolute;
    left: 1060px;
    top: 90px;
    z-index: 1;
}

#dragCanvas p{
    width: 100%;
    height:100%
    background-color: #aaa;
    
    text-align: center;
    vertical-align: middle;
    
    font-size: 2em;
    font-weight: bold;
}

#calendar{
    position: absolute;
    padding: 10px;
    left: 6px;
    top: 80px;
    z-index: -1;
}

